<%- include('../partials/header') %>

<div>
    <nav>
        <a class="home" href="/users-homepage"><h4>Home</h4></a>
        <h4 class="title"><%= title %></h4>
        <a class="logout" href="/logout"><h4>Log Out</h4></a>
    </nav>
</div>


<table>
    <tbody>
        <% if (review) { %>
        <% console.log('this shows up'); } %>
        <tr>
            <td>
                <form class="edit-review" action="/reviews/<%= review._id %>?_method=PUT" method="POST">
                    Review: <textarea placeholder="<%= review.content %>"></textarea>
                    <br>
                    <br>
                    <input type="submit" value="Edit Review" action="/past-entry"></input>
                </form>
            </td>
        </tr>
    </tbody>
</table>   
    

<%- include('../partials/footer') %>