<!--This is the page for past date entries or where date entries get pushed in

<%- include('../partials/header') %>

<div>
    <nav>
        <h2 class="title"><%= title %></h2>
        <a class="logout" href="/logout"><h2>Log Out</h2></a>
    </nav>
</div>

<table id="list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Profession</th>
        </tr>
    </thead>
    <tbody>
        <% entry.forEach(function(e) { %>
            <tr>
              <td><%= entry.name %></td>
              <td><%= entry.age %></td>
              <td><a href="//<%= entry._id %>">DETAILS</a></td>
            </tr>
        <% }); %>
    </tbody>
</table>


<%- include('../partials/footer') %>> -->