<%- include('../partials/header') %>

<div>
    <nav>
        <a class="home" href="/users-homepage"><h4>Home</h4></a>
        <h4 class="title"><%= title %></h4>
        <a class="logout" href="/logout"><h4>Log Out</h4></a>
    </nav>
</div>

<section id="show-page">
    <div>Name: <%= entry.name %></div>
    <div>Age: <%= entry.age %></div>
    <div>Profession: <%= entry.profession %></div>
    <div>Zodiac Sign: <%= entry.zodiac %></div>

    <label class="review">Review: </label>
    <form class="review" method="POST" action="/past-entry/<%= entry._id %>/reviews">
        <label class="date">Date: </label>
            <input type="date" class="meetup-date" name="date">
        <label class="location">Location: </label>
            <input class="location" type="text" name="location">
            <br>
            <br>
            <textarea class="review" name="content"></textarea> 
            <br>
            <br>
        <label class="rating">Rating:</label>
            <select class="rating" name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        
        <input type="submit" value="Add Review"></input>
    </form>
    <!-- <form class="edit-review" method="POST" action="/past-entry/<%= entry._id %>?_method=PUT/reviews">
        <button type="submit" value="Edit Review"></button>    
    </form> --> 

    <% if (entry.reviews.length) { %>
        <table>
          <tbody>
            <% var total = 0 %>
            <% entry.reviews.forEach(function(r) { %>
              <% total += r.rating %>
              <tr>
                <td>
                Date: <%= r.date %><br>
                Location: <%= r.location %><br>
                Review: <%= r.content %><br>
                Rating: <%= r.rating %><br><br>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h5>No Reviews Yet</h5>
      <% } %>

    <div>Will Date Again: <%= entry.repeatDate %></div>
</section>

<%- include('../partials/footer') %>